.footer {
  background-color: var(--color-tertiary-darker); 
  color: var(--color-primary-light); 
  padding: var(--spacing-sm) var(--spacing-md); 
  margin-top: auto; 
  box-shadow: var(--box-shadow-medium);
}

.container {
  display: flex;
  flex-wrap: wrap; /* Permite que as seções quebrem a linha em telas menores */
  justify-content: space-around; /* Distribui as seções no footer */
  max-width: 1200px;
  margin: 0 auto;
  gap: var(--spacing-xl); /* Espaçamento entre as seções */
  text-align: center; /* Alinha o texto dentro do container */
}

.footerSection {
  flex: 1; /* Permite que as seções cresçam e ocupem espaço */
  min-width: 200px; /* Largura mínima para evitar que fiquem muito apertadas */
  padding: var(--spacing-sm);
}

.brandName {
  font-family: var(--font-family-heading);
  font-size: 1.6rem;
  color: var(--color-primary-light);
  margin-bottom: var(--spacing-md);
}

.slogan {
  font-size: 0.9rem;
  color: rgba(var(--color-primary-light), 0.8); 
}

.sectionTitle {
  font-family: var(--font-family-body);
  font-size: 1.2rem;
  color: var(--color-primary-medium); 
  margin-bottom: var(--spacing-md);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.socialLinks {
  padding: 0;
  margin: 0;
}

.socialLinks li {
  margin-bottom: var(--spacing-xs);
}

.socialIcon {
  color: var(--color-primary-light);
  text-decoration: none;
  text-decoration-style: none;
  font-size: 1rem;
  display: flex; 
  align-items: center;
  justify-content: center; /* Centraliza no mobile */
  gap: var(--spacing-xs);
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: var(--color-primary-medium);
}

.socialIcon svg { 
  font-size: 1.2rem;
}

.list {
    list-style: none;
}

.contactInfo {
  font-style: normal; /* Remove itálico padrão do <address> */
  font-size: 1rem;
}

.contactInfo p {
  margin-bottom: var(--spacing-xs);
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* Linha divisória */
  padding-top: var(--spacing-md);
  margin-top: var(--spacing-lg);
  text-align: center;
  font-size: 0.85rem;
  color: rgba(var(--color-primary-light), 0.7);
}

.footerLink {
  color: rgba(var(--color-primary-light), 0.9);
  text-decoration: none;
  margin: 0 var(--spacing-xs);
  transition: color 0.3s ease;
}

.footerLink:hover {
  color: var(--color-primary-medium);
  text-decoration: underline;
}

/* Responsividade para o Footer */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Coloca as seções em coluna no mobile */
    align-items: center; /* Centraliza as seções */
    gap: var(--spacing-lg);
  }

  .footerSection {
    width: 100%; /* Ocupa a largura total */
    max-width: 300px; /* Limita a largura em telas pequenas para não ficar muito largo */
  }

  .socialIcon {
    justify-content: center; /* Garante que os ícones fiquem centralizados */
  }
}